[submodule "vsp-eureka-server"]
	path = vsp-eureka-server
	url = https://github.com/mzilin/vsp-eureka-server.git
[submodule "vsp-config-server"]
	path = vsp-config-server
	url = https://github.com/mzilin/vsp-config-server.git
