[submodule "vsp-eureka-server"]
	path = vsp-eureka-server
	url = https://github.com/mzilin/vsp-eureka-server.git
[submodule "vsp-config-server"]
	path = vsp-config-server
	url = https://github.com/mzilin/vsp-config-server.git
[submodule "vsp-api-gateway"]
	path = vsp-api-gateway
	url = https://github.com/mzilin/vsp-api-gateway.git
[submodule "vsp-auth-service"]
	path = vsp-auth-service
	url = https://github.com/mzilin/vsp-auth-service.git
[submodule "vsp-user-service"]
	path = vsp-user-service
	url = https://github.com/mzilin/vsp-user-service.git
